body {
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #777777 #2D2F30;
    /* scroll-behavior: smooth; */
}

*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #2D2F30;
}
  
*::-webkit-scrollbar-track:hover {
    background-color: #333536;
}
  
*::-webkit-scrollbar-track:active {
    background-color: #333536;
}
  
*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #777777;
}
  
*::-webkit-scrollbar-thumb:hover {
    background-color: #8D8D8D;
}
  
*::-webkit-scrollbar-thumb:active {
    background-color: #8D8D8D;
}

*, *:before, *:after{ 
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box;
}

.part-top {
    background-color: rgb(47, 47, 47);
    color: white;

    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 15px;

    height: 65vh;
}

.part-top-branding > img {
    width: 100%;
}

.part-top-branding {
    width: 15%;
}

.part-top-header {
    font-size: 3em;
    font-weight: 400;
    text-align: center;
}

.part-top-text {
    font-size: 1.4em;
    text-align: center;
}

.part-top-text > abbr {
    text-decoration: none;
}

.part-top-text > abbr::after {
    content: " (hover!)";
    font-size: 0.5em;
}

.scroll-ind {
    background-color: rgb(64, 64, 64);
    color: white;

    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 15px;

    height: 35vh;
    font-size: 2.5em;
    font-weight: bold;

    user-select: none;
    cursor: pointer;
}

a.no-line {
    text-decoration: none;
}

.arrow-down {
    border: solid rgb(255, 255, 255);
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 5vh;
    height: 5vh;
}

.project-gallery {
    background: rgb(255, 255, 255);
    color: white;

    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 15px;

    height: 50vh;
    font-size: 2.5em;
    font-weight: bold;

    user-select: none;

    transition: 500ms ease-in-out;
}

.section-title {
    background: rgb(31, 31, 31);
    color: white;

    width: 100%;
    height: 60%;

    display: flex;

    justify-content: center;
    align-items: center;

    height: 10vh;
    font-size: 1.6em;
}

.project-gallery-info {

    width: 100%;
    height: 60%;

    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 40vh;
    font-size: 2em;

    user-select: none;

    transition: 500ms ease-in-out;
}

.project-gallery-info > h2 {
    margin: 0;
}

.project-gallery-info > a {
    color: inherit;
    text-underline-offset: 5px;
}

.project-gallery > .turn {
    width: 80%;
    height: 80%;
    max-width: 400px;
    max-height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: 500ms ease-in-out;
}

.turn.turn1 {
    background-image: url(/assets/images/chival-logo.png);
}

.project-gallery:has(> .turn1) {
    background-color: rgb(255, 172, 64);
}

.project-gallery:has(> .turn1) + .project-gallery-info {
    background-color: rgb(251, 156, 32);
    color: black;
}

.turn.turn2 {
    background-image: url(/assets/images/minebahn-logo.png);
}

.project-gallery:has(> .turn2) {
    background-color: rgb(97, 152, 255);
}

.project-gallery:has(> .turn2) + .project-gallery-info {
    background-color: rgb(0, 128, 255);
    color: white;
}

.turn.turn3 {
    background-image: url(/assets/images/fabricroads-logo.png);
}

.project-gallery:has(> .turn3) {
    background-color: rgb(172, 172, 172);
}

.project-gallery:has(> .turn3) + .project-gallery-info {
    background-color: rgb(78, 78, 78);
    color: white;
}

.socials-main {
    background-color: rgb(47, 47, 47);
    padding: 15px;
}

.socials-social {
    background-color: rgb(64, 64, 64);
    padding: 15px;

    border-radius: 15px;
    border: 1px solid white;
}

.socials-social-title {
    color: white;
    font-size: 24pt;
    font-weight: 600;
}

.socials-social-link {
    color: white;
    font-size: 16pt;
}

.socials-social-link > a {
    color: white;
}